In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from seaborn import lineplot
import sys
sys.path.append('../scripts')
from preprocess import clean_data, find_columns_with_missing_value
from report import data_quality_report, plot_time_series, correlation_matrix

ImportError: cannot import name 'correlation_matrix' from 'report' (/home/mikiask/anotherproject/solar-challenge-week0/notebooks/../scripts/report.py)

**Data Loading**

We start by bringing in raw datasets from Benin, Sierra Leone, and Togo, ensuring we have all the necessary data for analysis.

In [2]:
data = pd.read_csv('../data/sierraleone-bumbuna.csv')

**Initial Data information**

By using data.info() we can see the properties of each columns name, non-null count and data type

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

**Overall statistics**

    - mean
    - standard devation
    - min
    - max
    - IQR

In [4]:
data.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,201.957515,116.376337,113.720571,206.643095,198.114691,26.319394,79.448857,1.146113,1.691606,0.363823,133.044668,7.172220,999.876469,0.000967,0.004806,32.504263,32.593091,NaN
std,298.495150,218.652659,158.946032,300.896893,288.889073,4.398605,20.520775,1.239248,1.617053,0.295000,114.284792,7.535093,2.104419,0.031074,0.047556,12.434899,12.009161,NaN
min,-19.500000,-7.800000,-17.900000,0.000000,0.000000,12.300000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,993.000000,0.000000,0.000000,10.700000,11.100000,NaN
25%,-2.800000,-0.300000,-3.800000,0.000000,0.000000,23.100000,68.700000,0.000000,0.000000,0.000000,0.000000,0.000000,999.000000,0.000000,0.000000,23.500000,23.800000,NaN
50%,0.300000,-0.100000,-0.100000,3.600000,3.400000,25.300000,85.400000,0.800000,1.600000,0.400000,161.500000,6.200000,1000.000000,0.000000,0.000000,26.600000,26.900000,NaN
75%,362.400000,107.000000,224.700000,359.500000,345.400000,29.400000,96.700000,2.000000,2.600000,0.600000,234.100000,12.000000,1001.000000,0.000000,0.000000,40.900000,41.300000,NaN
max,1499.000000,946.000000,892.000000,1507.000000,1473.000000,39.900000,100.000000,19.200000,23.900000,4.100000,360.000000,98.400000,1006.000000,1.000000,2.400000,72.800000,70.400000,NaN

**Missing values**

Based on the requirement we will filter out variables with 5% or more null values by using find_columns_with_missing_value that takes dataframe and threshold the threshold is a optional argument by default threshold is set to 0.05 or 5%

In [5]:
find_columns_with_missing_value(data)

columns above the threshold

['Comments']

**Taking backup**

Taking the copy of the original data to make sure we can compare it to the processed data on the later date.

In [7]:
df_copy = data.copy()

**KPI(Key Preformance Indicator)**

Variables that will give as key insight about the data

In [8]:
target_cols = [ 'GHI', 'DNI', 'DHI', 'ModA', 'ModB','WS', 'WSgust']

**Overall state of the data**

This shows the overall missing, zero values, negative values and out of range total values to help us determine whether to impute or drop variables

In [9]:
before_dataclean = data_quality_report(df_copy)
before_dataclean

               Missing Values  Zero Values  Negative Values  Out of Range
BP                          0            0              0.0           NaN
Cleaning                    0       525092              0.0           NaN
Comments               525600            0              0.0           NaN
DHI                         0          356         263128.0           NaN
DNI                         0        27546         266352.0           NaN
GHI                         0          636         261135.0      261135.0
ModA                        0       246580              0.0           NaN
ModB                        0       246940              0.0           NaN
Precipitation               0       513531              0.0           NaN
RH                          0            0              0.0           0.0
TModA                       0            0              0.0           NaN
TModB                       0            0              0.0           NaN
Tamb                        0            0              0.0           0.0
Timestamp                   0            0              NaN           NaN
WD                          0       167267              0.0           NaN
WDstdev                     0       178308              0.0           NaN
WS                          0       175505              0.0           NaN
WSgust                      0       166386              0.0           NaN
WSstdev                     0       167246              0.0           NaN

#### Data cleaning
Drops and impute missing values, error values, incorrect entries and wrong datatypes

In [10]:
cleaned_data = clean_data(df_copy, target_cols)

Processing columns: ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust', 'Tamb']
Found 16684 outliers in column 'GHI'.
Median value for 'GHI' (used for replacement): 0.3
Outliers in column 'GHI' replaced with median.
Found 101770 outliers in column 'DNI'.
Median value for 'DNI' (used for replacement): 0.0
Outliers in column 'DNI' replaced with median.
Found 4842 outliers in column 'DHI'.
Median value for 'DHI' (used for replacement): 0.0
Outliers in column 'DHI' replaced with median.
Found 21017 outliers in column 'ModA'.
Median value for 'ModA' (used for replacement): 3.6
Outliers in column 'ModA' replaced with median.
Found 20613 outliers in column 'ModB'.
Median value for 'ModB' (used for replacement): 3.4
Outliers in column 'ModB' replaced with median.
Found 3169 outliers in column 'WS'.
Median value for 'WS' (used for replacement): 0.8
Outliers in column 'WS' replaced with median.
Found 3665 outliers in column 'WSgust'.
Median value for 'WSgust' (used for replacement): 1.6
Outliers in column 'WSgust' replaced with median.
Found 652 outliers in column 'Tamb'.
Median value for 'Tamb' (used for replacement): 25.3
Outliers in column 'Tamb' replaced with median.

**To double check if the data values are as expected**

In [11]:
after_clean_report = data_quality_report(cleaned_data)
after_clean_report

               Missing Values  Zero Values  Negative Values  Out of Range
BP                          0            0              0.0           NaN
Cleaning                    0       525092              0.0           NaN
DHI                         0       268326              0.0           NaN
DNI                         0       395668              0.0           NaN
GHI                         0       261771              0.0           0.0
ModA                        0       246580              0.0           NaN
ModB                        0       246940              0.0           NaN
Precipitation               0       513531              0.0           NaN
RH                          0            0              0.0           0.0
TModA                       0            0              0.0           NaN
TModB                       0            0              0.0           NaN
Tamb                        0            0              0.0           0.0
Timestamp                   0            0              NaN           NaN
WD                          0       167267              0.0           NaN
WDstdev                     0       178308              0.0           NaN
WS                          0       175505              0.0           NaN
WSgust                      0       166386              0.0           NaN
WSstdev                     0       167246              0.0           NaN

**Create a new csv**

The data values has been cleaned and now save on a different csv file

In [12]:
cleaned_data.to_csv(f"../data/sieraleone_clean.csv")

**Plotting a time series**

As show in the time series you can see for GHI, DNI, DHI, Tamb Vs. Timestamp

In [1]:
plot_time_series(cleaned_data)

NameError: name 'plot_time_series' is not defined